* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/
body {
  color: #000;
  background: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.navbar-center img {
  width: 10%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: 10px;
  right: 98px;
  background: crimson;
  padding: 0 5px;
  border-radius: 30%;
  color: white;
}

.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/cover-img-4.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 3rem;
}

.banner-title {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: coral;
  font-size: 1rem;
  border: 1px solid coral;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: coral;
}

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: coral;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: white;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.img-container:hover .product-img {
  opacity: 0.5;
}
.product-img {
  display: block;
  width: 400px;
  height: 300px;
  min-height: 12rem;
  transition: all 0.3s linear;
}
.product h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.product h4 {
  text-transform: uppercase;
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: coral;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  transition: all 0.3s linear;
  background-color: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 4;
  background: white;
  padding: 1.5rem;
  transition: all 0.3s linear;
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}
@media screen and (min-width: 348px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
  .cart-items {
    position: absolute;
    top: 10px;
    right: 10px;
    background: crimson;
    padding: 0 5px;
    border-radius: 30%;
    color: white;
  }
  .navbar-center img {
    width: 10%;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 5rem;
  }

  .banner-title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 290px) {
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 5rem;
  }

  .banner-title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;
  }
}
.cart-close {
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.3rem;
  background-color: #000;
  color: white;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.cart-item h5 {
  margin: 0.5rem 0;

  letter-spacing: 0.1rem;
}
.item-amount {
  text-align: center;
}

.remove-item {
  color: gray;
  cursor: pointer;
}
.less {
  color: coral;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.cart-footer h3 {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
